@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer base {
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(168, 162, 158, 0.3); /* stone-400 with opacity */
    border-radius: 10px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(168, 162, 158, 0.6);
  }
}

body {
  @apply bg-stone-50 text-stone-800 antialiased selection:bg-rose-200 selection:text-stone-900;
}
